<div>
  <h3>Formulario</h3>
  <form action="/" method="POST">
    Nombre <input type="text" name="nombre">
    Apellido <input type="text" name="apellido">
    Edad <input type="number"  name="edad">
    <button type="submit">Enviar data</button>
  </form>
</div>
