.App {
	text-align: center;
	background-color: lightgray;
	padding-bottom: 2em;
	min-height: 100vh;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.home {
	width: 90%;
	margin: auto;
}

.form-group {
	display: flex;
	flex-direction: row;

	align-items: baseline;
}

#text {
	width: 75%;
}

#number {
	width: 20%;
}

#date {
	width: 20%;
}

#select {
	width: 20%;
}

.form-label {
	width: 150px;
	margin-right: 20px;
	text-align: left;
	margin: 0;
}

.total {
	background-color: blue;
	margin-left: 0;
}

.titulo {
	margin-top: 1.5em;
	margin-bottom: 2em;
}

#selectGroup {
	width: 30%;
}

.saveButton {
	position: absolute;
	right: 2em;
	bottom: 2em;
	width: 6em;
	height: 3em;
	font-size: 1em;
}
