<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<header>
  <h1>About</h1>
  <%- include('../partials/header') %>
</header>
<body>
  
</body>
<footer>
  <%- include('../partials/footer') %>
</footer>
</html>